@import url(https://fonts.googleapis.com/css?family=Rokkitt);

.debug {
    border: 2px solid blue;
}

.debug2 {
    border: 2px solid red;
}

.debug3 {
    border: 4px solid green;
}

body {
    background: #c2c2d6;
    text-align: center;
    font-family: 'Rokkitt', sans-serif;
}

#clockBody {
    max-width: 700px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
}


.setSessionBreak {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-around;
}


button {
    margin: 20px;
    margin-top: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8064c4;
    color: white;
    cursor: pointer;
}

button:hover {
    color: rgb(53, 43, 102);
    outline: 0.05em solid grey;
    z-index: 3;
  }

h1{
    font-size: 42px;
    color: rgb(199, 88, 121);
}

h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 0px;
  }



span, #time-left {
    font-size: 2.25rem;
    position: relative;
    top: 5px;
}

p {
    margin: 0px;

}





